<?xml version="1.0" encoding="UTF-8"?>
<config>
    <mainUrl>http://www.adidas.com/</mainUrl>
    <splashUrl>http://www.adidas.com/us/ultraboost-cleats/CG4814.html</splashUrl>
    <cartUrl>https://www.adidas.com/on/demandware.store/Sites-adidas-US-Site/en_US/Cart-Show</cartUrl>
    <requestDelay>5</requestDelay>
    <taskCount>50</taskCount>
    <chromeDriverPath>~/Downloads/chromedriver</chromeDriverPath>
    <useragent>Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/60.0.3095.0 Safari/537.36</useragent>
    <selectors>
        <selector>[data-sitekey]</selector>
    </selectors>
    <onePass>false</onePass>
    <proxies>~/proxies.txt</proxies>
</config>